page-cuestionarios {

}
.button-ios {
    border-radius: 35px !important;
}

#content{
    background-image: url('../../assets/images/bg.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
}