page-quiz-detail-alumno {

    .textTitulo{
        text-align: center;
        margin: 5vw 0;
    }

    .divNota{
        margin: 0 auto;
        margin-top: 35px;
        border: 8px solid #159966;
        border-radius: 50%;
        text-align: center;
        height: 35vw;
        width: 35vw;
    }

    .valorNota{
        color: #159966;
        font-size: 15vw;
        margin: 0;
        margin-top: 6vw;
    }

    .eliminarButton{
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .footer{
        display: flex;
    }

}
