page-empezar-test-alumno{
    ion-content{
        background-image: url('../../assets/images/bg.png') !important;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ion-item{
        background: none;
    }
}
input.input-field{
    
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
    outline: none;
    //border: 1px solid #0C0;
    margin-left: 70px;
    width: 60%;
    margin-top: 3px;
}
#title{
    margin-left: 81px;
    margin-top:20px;
}
#title2{
    margin-left: 40px;
    margin-top: 20px;
}
#imagen2{
    height: 200px;
    width: 200px;
    background-color: transparent;
    margin-left: 25%;
    border-radius: 50%;
}