page-perfil-alumno {

    .fixedLabel {
        min-width: 60% !important;
        max-width: 60% !important;
    }

    .fixedListLabel {
        min-width: 30% !important;
        max-width: 30% !important;
    }

    .quizListNota{
        text-align: center;
    }

    .quizListScore{
        font-size: 170%;
        font-family: 'Courier New', Courier, monospace;
        text-align: end;
    }

    .userFoto{
        height: 13vw;
        width: 13vw;
        border-radius: 50%;
    }

    .quizList{
        margin-bottom: 3px;
        margin-top: 3px;
        border-radius:9px !important;
    }

    ion-content{
        background-image: url('../../assets/images/bg.png') !important;
        background-repeat: no-repeat;
        background-size: cover;
    }

}