
    #codNumber{
    margin-top: 15.8rem;
    margin-bottom: 2.8rem;
    font-size: 12vw;
    /* margin: auto; */
        margin-left: 144px;
    margin-right: 131px;
    color:#f8f8f8;
    text-align: center;
    }
    #whiteSpace >div{
        white-space: normal;
        margin-top:5%;
    }
    #divCodigo{
        background-color: #488aff;
        border-radius: 10px 10px 10px 10px;
    }
